:host {
  display: flex;
  padding: 20px 10px;
}

menu {
  flex: 2;
  margin: 0 10px 0 0;
  padding: 0;

  p {
    margin: 0;
    padding: 3px 5px;

    &:hover, &.selected {
      background: lightgreen;
      cursor: pointer;
    }
  }
}

main {
  flex: 7;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    max-width: 400px;
  }
}